groq
flask
flask-socketio
Flask
Flask-SQLAlchemy
Flask-Bcrypt
eventlet
gunicorn
requests
pyrebase4
firebase-admin
qdrant-client
sentence-transformers
tqdm
spacy
nltk
agno
google-genai

